In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly as py
import plotly.express as px
import dtale
#dont show warning 
import warnings
warnings.filterwarnings('ignore')

In [2]:
!pip install dtale

Collecting dtale
  Using cached dtale-3.17.0-py2.py3-none-any.whl.metadata (16 kB)
Collecting dash-daq<=0.5.0 (from dtale)
  Using cached dash_daq-0.5.0-py3-none-any.whl
Collecting future>=0.14.0 (from dtale)
  Using cached future-1.0.0-py3-none-any.whl.metadata (4.0 kB)
Collecting missingno (from dtale)
  Using cached missingno-0.5.2-py3-none-any.whl.metadata (639 bytes)
Requirement already satisfied: pandas in c:\users\pc\anaconda3\lib\site-packages (from dtale) (2.2.2)
Collecting squarify (from dtale)
  Using cached squarify-0.4.4-py3-none-any.whl.metadata (600 bytes)
Collecting strsimpy (from dtale)
  Using cached strsimpy-0.2.1-py3-none-any.whl.metadata (20 kB)
Requirement already satisfied: six in c:\users\pc\anaconda3\lib\site-packages (from dtale) (1.16.0)
Collecting xlrd (from dtale)
  Using cached xlrd-2.0.1-py2.py3-none-any.whl.metadata (3.4 kB)
Requirement already satisfied: beautifulsoup4!=4.13.0b2 in c:\users\pc\anaconda3\lib\site-packages (from dtale) (4.12.3)
Requirement already satisfied: certifi in c:\users\pc\anaconda3\lib\site-packages (from dtale) (2024.8.30)
Collecting dash-bootstrap-components<=1.7.1 (from dtale)
  Using cached dash_bootstrap_components-1.7.1-py3-none-any.whl.metadata (17 kB)
Requirement already satisfied: lz4 in c:\users\pc\anaconda3\lib\site-packages (from dtale) (4.3.2)
Requirement already satisfied: cycler in c:\users\pc\anaconda3\lib\site-packages (from dtale) (0.11.0)
Collecting dash<=2.18.2 (from dtale)
  Using cached dash-2.18.2-py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: seaborn in c:\users\pc\anaconda3\lib\site-packages (from dtale) (0.13.2)
Requirement already satisfied: werkzeug in c:\users\pc\anaconda3\lib\site-packages (from dtale) (3.0.3)
Collecting Flask-Compress (from dtale)
  Using cached Flask_Compress-1.17-py3-none-any.whl.metadata (8.8 kB)
Requirement already satisfied: scikit-learn in c:\users\pc\anaconda3\lib\site-packages (from dtale) (1.5.1)
Requirement already satisfied: statsmodels in c:\users\pc\anaconda3\lib\site-packages (from dtale) (0.14.2)
Requirement already satisfied: networkx in c:\users\pc\anaconda3\lib\site-packages (from dtale) (3.3)
Requirement already satisfied: numpy in c:\users\pc\anaconda3\lib\site-packages (from dtale) (1.26.4)
Requirement already satisfied: openpyxl!=3.2.0b1 in c:\users\pc\anaconda3\lib\site-packages (from dtale) (3.1.5)
Requirement already satisfied: xarray in c:\users\pc\anaconda3\lib\site-packages (from dtale) (2023.6.0)
Requirement already satisfied: scipy!=1.12.0rc1,!=1.14.0,!=1.14.0rc1,!=1.14.0rc2 in c:\users\pc\anaconda3\lib\site-packages (from dtale) (1.13.1)
Requirement already satisfied: et-xmlfile in c:\users\pc\anaconda3\lib\site-packages (from dtale) (1.1.0)
Requirement already satisfied: plotly in c:\users\pc\anaconda3\lib\site-packages (from dtale) (5.24.1)
Requirement already satisfied: Flask in c:\users\pc\anaconda3\lib\site-packages (from dtale) (3.0.3)
Requirement already satisfied: itsdangerous in c:\users\pc\anaconda3\lib\site-packages (from dtale) (2.2.0)
Requirement already satisfied: requests in c:\users\pc\anaconda3\lib\site-packages (from dtale) (2.32.3)
Collecting kaleido (from dtale)
  Using cached kaleido-0.2.1-py2.py3-none-win_amd64.whl.metadata (15 kB)
Requirement already satisfied: matplotlib in c:\users\pc\anaconda3\lib\site-packages (from dtale) (3.9.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\pc\anaconda3\lib\site-packages (from beautifulsoup4!=4.13.0b2->dtale) (2.5)
Collecting dash-html-components==2.0.0 (from dash<=2.18.2->dtale)
  Using cached dash_html_components-2.0.0-py3-none-any.whl.metadata (3.8 kB)
Collecting dash-core-components==2.0.0 (from dash<=2.18.2->dtale)
  Using cached dash_core_components-2.0.0-py3-none-any.whl.metadata (2.9 kB)
Collecting dash-table==5.0.0 (from dash<=2.18.2->dtale)
  Using cached dash_table-5.0.0-py3-none-any.whl.metadata (2.4 kB)
Requirement already satisfied: importlib-metadata in c:\users\pc\anaconda3\lib\site-packages (from dash<=2.18.2->dtale) (7.0.1)
Requirement already satisfied: typing-extensions>=4.1.1 in c:\users\pc\anaconda3\lib\site-packages (from dash<=2.18.2->dtale) (4.11.0)
Collecting retrying (from dash<=2.18.2->dtale)
  Using cached retrying-1.3.4-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: nest-asyncio in c:\users\pc\anaconda3\lib\site-packages (from dash<=2.18.2->dtale) (1.6.0)
Requirement already satisfied: setuptools in c:\users\pc\anaconda3\lib\site-packages (from dash<=2.18.2->dtale) (75.1.0)
Requirement already satisfied: Jinja2>=3.1.2 in c:\users\pc\anaconda3\lib\site-packages (from Flask->dtale) (3.1.4)
Requirement already satisfied: click>=8.1.3 in c:\users\pc\anaconda3\lib\site-packages (from Flask->dtale) (8.1.7)
Requirement already satisfied: blinker>=1.6.2 in c:\users\pc\anaconda3\lib\site-packages (from Flask->dtale) (1.6.2)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\pc\anaconda3\lib\site-packages (from plotly->dtale) (8.2.3)
Requirement already satisfied: packaging in c:\users\pc\anaconda3\lib\site-packages (from plotly->dtale) (24.1)
Requirement already satisfied: MarkupSafe>=2.1.1 in c:\users\pc\anaconda3\lib\site-packages (from werkzeug->dtale) (2.1.3)
Requirement already satisfied: brotli in c:\users\pc\anaconda3\lib\site-packages (from Flask-Compress->dtale) (1.0.9)
Requirement already satisfied: zstandard in c:\users\pc\anaconda3\lib\site-packages (from Flask-Compress->dtale) (0.23.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\pc\anaconda3\lib\site-packages (from matplotlib->dtale) (1.2.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\pc\anaconda3\lib\site-packages (from matplotlib->dtale) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\pc\anaconda3\lib\site-packages (from matplotlib->dtale) (1.4.4)
Requirement already satisfied: pillow>=8 in c:\users\pc\anaconda3\lib\site-packages (from matplotlib->dtale) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\pc\anaconda3\lib\site-packages (from matplotlib->dtale) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\pc\anaconda3\lib\site-packages (from matplotlib->dtale) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\pc\anaconda3\lib\site-packages (from pandas->dtale) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\pc\anaconda3\lib\site-packages (from pandas->dtale) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\pc\anaconda3\lib\site-packages (from requests->dtale) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\pc\anaconda3\lib\site-packages (from requests->dtale) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\pc\anaconda3\lib\site-packages (from requests->dtale) (2.2.3)
Requirement already satisfied: joblib>=1.2.0 in c:\users\pc\anaconda3\lib\site-packages (from scikit-learn->dtale) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\pc\anaconda3\lib\site-packages (from scikit-learn->dtale) (3.5.0)
Requirement already satisfied: patsy>=0.5.6 in c:\users\pc\anaconda3\lib\site-packages (from statsmodels->dtale) (0.5.6)
Requirement already satisfied: colorama in c:\users\pc\anaconda3\lib\site-packages (from click>=8.1.3->Flask->dtale) (0.4.6)
Requirement already satisfied: zipp>=0.5 in c:\users\pc\anaconda3\lib\site-packages (from importlib-metadata->dash<=2.18.2->dtale) (3.17.0)
Using cached dtale-3.17.0-py2.py3-none-any.whl (14.9 MB)
Using cached dash-2.18.2-py3-none-any.whl (7.8 MB)
Using cached dash_core_components-2.0.0-py3-none-any.whl (3.8 kB)
Using cached dash_html_components-2.0.0-py3-none-any.whl (4.1 kB)
Using cached dash_table-5.0.0-py3-none-any.whl (3.9 kB)
Using cached dash_bootstrap_components-1.7.1-py3-none-any.whl (229 kB)
Using cached future-1.0.0-py3-none-any.whl (491 kB)
Using cached Flask_Compress-1.17-py3-none-any.whl (8.7 kB)
Using cached kaleido-0.2.1-py2.py3-none-win_amd64.whl (65.9 MB)
Using cached missingno-0.5.2-py3-none-any.whl (8.7 kB)
Using cached squarify-0.4.4-py3-none-any.whl (4.1 kB)
Using cached strsimpy-0.2.1-py3-none-any.whl (45 kB)
Using cached xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
Using cached retrying-1.3.4-py3-none-any.whl (11 kB)
Installing collected packages: strsimpy, squarify, kaleido, dash-table, dash-html-components, dash-core-components, xlrd, retrying, future, Flask-Compress, dash, missingno, dash-daq, dash-bootstrap-components, dtale
Successfully installed Flask-Compress-1.17 dash-2.18.2 dash-bootstrap-components-1.7.1 dash-core-components-2.0.0 dash-daq-0.5.0 dash-html-components-2.0.0 dash-table-5.0.0 dtale-3.17.0 future-1.0.0 kaleido-0.2.1 missingno-0.5.2 retrying-1.3.4 squarify-0.4.4 strsimpy-0.2.1 xlrd-2.0.1

# **EDA WITH DTALE**

In [18]:
#Loading data set
df=pd.read_csv(r'C:\Users\PC\OneDrive\Desktop\Data\titanic.csv')
df

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [12]:
df.dropna(inplace=True)
df.drop_duplicates(inplace=True)
df.columns = [col.strip() for col in df.columns]
df.replace(['male','female'],['Male','Female'],inplace=True)
#Making first letter of every word capital
df.columns = [col.capitalize() for col in df.columns]
df=df[['Survived','Pclass','Sex','Age','Parch','Fare','Embarked','Class','Who','Deck','Alive','Alone']]
df

,Survived,Pclass,Sex,Age,Parch,Fare,Embarked,Class,Who,Deck,Alive,Alone
1,1,1,Female,38.0,0,71.2833,C,First,woman,C,yes,False
3,1,1,Female,35.0,0,53.1000,S,First,woman,C,yes,False
6,0,1,Male,54.0,0,51.8625,S,First,man,E,no,True
10,1,3,Female,4.0,1,16.7000,S,Third,child,G,yes,False
11,1,1,Female,58.0,0,26.5500,S,First,woman,C,yes,True
...,...,...,...,...,...,...,...,...,...,...,...,...
871,1,1,Female,47.0,1,52.5542,S,First,woman,D,yes,False
872,0,1,Male,33.0,0,5.0000,S,First,man,B,no,True
879,1,1,Female,56.0,1,83.1583,C,First,woman,C,yes,False
887,1,1,Female,19.0,0,30.0000,S,First,woman,B,yes,True
889,1,1,Male,26.0,0,30.0000,C,First,man,C,yes,True

In [19]:
d=dtale.show(df)

In [20]:
d.open_browser()

In [ ]:
#closing dtale

d.kill()

2025-05-24 20:07:53,695 - INFO     - Executing shutdown...
2025-05-24 20:07:53,696 - INFO     - Not running with the Werkzeug Server, exiting by searching gc for BaseWSGIServer